div.addresses{position:relative;width:100%}
div.addresses p{float:left;margin-bottom:10px;width:100%}
div.addresses p label{text-transform:none;margin-left:4px;}
div.addresses p.address_delivery label,div.addresses p#address_invoice_form label{color:#7e7e7e;font-weight:400;line-height:25px;width:100%;display:block;padding-bottom:4px;}
div.addresses p select{width:340px;}
div.addresses p.checkbox{width:70%}
div.addresses #address_invoice_form{margin-left:0;margin-top:10px;padding-top:0!important;width:100%;}
div.addresses p.address_add, div.addresses p#address_invoice_form{padding-bottom:20px;margin-bottom:12px;}
div.addresses #address_invoice_form a.button_large,div.addresses .address_add a.button_large{float:left;margin-left:0!important;padding:0;width:180px;background:#1b1b1b;color:#fff!important;border:none;height:27px;line-height:27px;}
:root div.addresses #address_invoice_form a.button_large,:root div.addresses .address_add a.button_large{line-height:29px \0}
div.addresses h3{margin:0}
div.addresses p.checkbox input{height:auto;margin-top:4px!important;vertical-align:-2px}
div.addresses ul.item{clear:both}
ul.address{float:left;list-style-image:none;list-style-position:outside;list-style-type:none;margin-bottom:1em;margin-left:.25em;padding-bottom:.6em;position:relative;width:49%;margin-top:20px;}
ul.address li{line-height:20px;text-transform:none;font-size:12px;}
li.address_title{color:#262525!important;font-size:12px!important;font-weight:700;height:25px;line-height:25px;text-transform:uppercase!important}
li.address_name,li.address_firstname,li.address_lastname{color:#3b3b3b;}
span.address_name,span.address_firstname,span.address_lastname,span.address_update a,span.address_delete a{color:#4c4c4c}
span.address_name,span.address_firstname,span.address_lastname,span.address_company{font-weight:700}
li.address_update,li.address_delete{color:#28d0e9;font-weight:700;margin-top:10px}
.addresses #ordermsg{float:left;padding-top:5px;width:100%}
.addresses #ordermsg p{padding-left:0}
.addresses #ordermsg .textarea textarea{height:100px;width:693px;}
li.address_update a,li.address_delete a,l li.address_update a,li.address_delete a{color:#7e7e7e;font-size:12px;font-weight:400;text-transform:capitalize}
p.cart_navigation.submit{float:left;width:100%}
p.cart_navigation.submit a.button{float:left}
@media all and (min-width:0) {
    		p.cart_navigation.submit a.button,p.cart_navigation .exclusive {line-height:26px\0/; }  /* IE9 */
	}
