.comparison_feature_value{margin-top:5px;padding:5px}
.comparison_feature{color:red;font-weight:700;padding:5px}
.product_coparison_header{background:url(../../img/bkg_more_info_block.png) no-repeat center top;height:57px}
.comparison_header{padding-top:10px}
.comparison_infos{padding-bottom:20px;position:relative;text-transform:none;vertical-align:top}
.comparison_infos.first{width:152px!important;}
.comparison_infos div.item{overflow:hidden;position:relative;width:152px;margin-left:40px;}
.comparison_infos div.item.first_item{margin-left:0!important}
.comparison_infos div.item h5{margin:10px 0 3px!important;padding:0}
.comparison_infos div.item h5 a{color:#547d16!important;font-size:14px!important}
.comparison_infos a.product_image{text-align:center;width:100%!important;height:auto;}
#product_comparison{border-collapse:collapse;width:100%}
tr.comparison_header td{color:#262525;font-size:12px;font-weight:700;padding:10px 3px 10px 0;text-transform:none}
.product_desc a{color:#7e7e7e;font-size:12px;text-decoration:none}
.product_desc{margin:0px 0 5px!important}
.comparison_comment{background-color:#FFF}
.cluetip-comparison_comments{background-color:#F1F2F4;border:1px solid gray;opacity:0.95;padding:10px;text-align:justify;width:430px}
.comment .customer_name{font-weight:700}
.cmp_remove{background:url(../../img/icon/delete1.gif) no-repeat 0 11px;color:#141414;cursor:pointer;display:block;float:left;font-size:10px;font-weight:700;height:27px;left:0;line-height:30px;margin:auto;padding-left:15px;text-align:left;text-transform:uppercase;clear:left}
.comparison_availability_statut{display:none;height:27px}
.comparison_old_price{height:13px}
.comparison_product_infos{float:left;position:relative;width:225px;margin-left:20px;}
.comparison_product_infos .price,.comparison_product_infos .price-discount{font-size:12px!important;font-weight:700!important}
.comparison_product_infos .price-discount{color:#939186;float:left;margin-right:10px;margin-top:6px;text-decoration:line-through;width:auto;font-size:12px;font-weight:700}
.comparison_product_infos a.product_image{float:left;text-align:center;width:100%}
.comparison_product_infos .product_desc{height:auto!important; margin: 5px 0 10px!important;padding:0!important}
.comparison_product_infos h3{padding: 10px 0 5px;width:100%;float:left}
.comparison_product_infos h3 a{color:#747373;font-weight:400;text-transform:none;font-size:12px;font-family: 'HelveticaBold';}
.comparison_product_infos h3 a:hover{color:#EE3C1F;text-decoration:none;}
.comparison_product_infos .product_desc{color:#7e7e7e;padding:0}
.comparison_product_infos span.availability{width:100%;color:#53AD22;font-size:10px;text-transform:uppercase}
.comparison_product_infos span.outofstock{width:100%;color:#A2A2A2;font-size:10px;text-transform:uppercase}
.comparison_product_infos .price_container{float:left;text-align:left;width:auto;margin:0!important}
.comparison_product_infos .product_discount{float:left;margin:7px;text-align:left;width:auto}
.comparison_product_infos .product_discount span{color:#d26b0f;float:left;font-size:10px;font-weight:700}
.comparison_unit_price{color:gray;font-size:.75em}
.product_discount{color:#d5750b;font-weight:700;height:13px;text-transform:uppercase}
.line-compare{border:1px solid #e5e5e5;margin-top:10px;padding:2px;width:100%}
.line-compare p{background:url(../../img/bkg_line_compare.jpg) repeat-x;height:5px;margin:0!important;width:200px}
.comparison_feature_odd,.comparison_feature_even{padding:20px 0 20px 20px;border-top:1px solid #d0d0d0;text-align:left;}
.comparison_feature_odd.first,.comparison_feature_odd.first_fead,.comparison_feature_even.first,.comparison_feature_even.first_fead {padding-left:0!important}
.comparison_feature_odd.first,.comparison_feature_even.first{color:#3b3b3b;font-size:12px;font-weight:700}
tr.last_item .comparison_feature_odd,tr.last_item .comparison_feature_even{border:none}
.comparison_feature_odd.featurename,.comparison_feature_even.featurename{color:#7e7e7e;font-weight:400;font-size:12px;}