body#contact-form form p.textarea textarea{width:225px}
body#contact-form form p.text input{width:225px}
body#contact-form div#center_column form select{width:246px!important;}
form.std p.desc_contact span.like_input{text-align:left;width:366px}
body#contact-form div#center_column form textarea#message{height:80px!important;width:226px!important}
#contact-form form.std label,#contact-form form.std p span,#password form.std p span,#password form.std label{line-height:22px;text-align:left}
#contact-form form p.submit{padding-left:170px!important}
#fileUpload{line-height:20px}
#desc_contact0{display:none}
#contact p.textarea textarea {height: 100px !important;width: 243px !important;padding:0 10px;}
#contact form.std p.select select {width: 265px !important;}
#contact p.text input, #contact p.select input {width:243px;}
#contact p.submit{padding-left:219px;}
@media screen and (-webkit-min-device-pixel-ratio:0)
	{ #contact p.text input, #contact p.select input[type="file"] {padding-left:0;height:auto;} }
#contact p.submit input{background:#EE3C1F;border:none;color:#fff !important;}