#order-opc .opc_status {
	border: 1px solid #d0d3d8;
	background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left;
	font-size: 12px;
}

.opc_float {
	float:left;
	width: 49%;
}

.opc_float_status {
	float: left;
	width: 45%;
	padding: 10px;
}

#order-opc #login_form {
	width: 100%;
	clear: none;
} 

#order-opc #login_form p.text {
	height: 3.4em;
	margin-left: 4em;
	padding-left: 0;
	padding-right: 0;
}

#order-opc #login_form a {color:#EE3C1F }
#order-opc #login_form a.lost_password{line-height:48px;margin-left:10px;}
#order-opc input#SubmitLogin { margin: 0;background:#EE3C1F;border:none;color:#fff !important}
#order-opc #login_form p.submit {
	margin-right: 0;
	text-align: left;
	padding-left: 17%!important;
}
#order-opc p.lost_password { padding-left: 20px;width:auto;float:left;clear:none;line-height:26px }
#order-opc p.submit span { padding-right: 0.5em }
#order-opc #login_form label {
	float: none;
	clear: both;
	display: block;
	text-align: left;
	width: 100%;
	margin-bottom: 0.3em;
}

#order-opc textarea#message { width:642px;height:100px }

#order-opc sup { color: red; }

#order-opc div.opc-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}

#order-opc div.opc-main-block { position: relative;}
#order-opc div.opc-main-block  form.std fieldset{margin-bottom:0}
#order-opc div.opc-main-block  form.std p.checkbox{padding-left:39%!important;}
#order-opc div.opc-main-block  form.std p.checkbox label{line-height:15px!important;font-weight:400!important}
#order-opc div.opc-main-block  #opc_account_form   p label, #order-opc div.opc-main-block  #opc_account_form   p.radio  span,#order-opc div.opc-main-block  #opc_account_form   p.select span{   color: #585454;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    padding-right: 10px;
    text-align: right;
    text-transform: none;
    width: 37%;}
#order-opc div.opc-main-block  #opc_account_form   p.required  input.text,#order-opc div.opc-main-block  #opc_account_form   p.text  input.text{width:200px;}
#order-opc div.opc-main-block  #opc_account_form   p.select  select#days,#order-opc div.opc-main-block  #opc_account_form   p.select  select#months,#order-opc div.opc-main-block  #opc_account_form   p.select  select#years{width:72px;}
#order-opc div.opc-main-block  #opc_account_form   p.select  span{line-height:25px;}
#order-opc div.opc-main-block  #opc_account_form   p.required.select select{width:223px;}
#order-opc div.opc-main-block  #opc_account_form   p.textarea textarea{width:200px;height:100px}
#order-opc div.opc-main-block  #opc_account_form   p.radio  label, #order-opc div.opc-main-block  #opc_account_form   p.radio span{line-height:20px;}
#order-opc div.opc-main-block  #opc_account_form   p.radio  label, #order-opc div.opc-main-block  #opc_account_form   p.radio span{line-height:17px \0}
#order-opc div.opc-main-block  .address_padding{padding:0}
#order-opc div.opc-main-block  h3{margin:15px 0 10px;border:none;font-size:12px;}
#order-opc div.opc-main-block  p.radio input, #order-opc div.opc-main-block  p.checkbox input{vertical-align:-3px;height:auto;margin-top:0 !important}
form.std p.checkbox{padding-left:30%!important}
#order-opc div.opc-main-block  p.checkbox input{vertical-align:-1px;}
#order-opc div.opc-main-block #login_form_content input#login_email, #order-opc div.opc-main-block #login_form_content input#login_passwd{width:255px;}
#order-opc div.opc-main-block #login_form_content p.submit{padding-left:0!important;width:auto;float:left}
#order-opc  h2{margin:10px 0 0}