
/*** ESSENTIAL STYLES ***/
.sf-contener {z-index:100;width:100%;float:left;margin:41px 0 0px;height:38px;background:#1b1b1b;}
.sf-right {display:none}
.sf-menu, .sf-menu * {margin:0;padding:0;list-style:	none;}
.sf-menu {margin:0;width:100%;z-index:10;clear:both;float:left;position:relative}
.sf-menu li{background:none;border:none;float:left;margin:0 3px 0 0;padding:0;position:relative;z-index:100;padding:0 16px;}
.sf-menu li a{color:#fff;float:left;font-weight:400;text-transform:capitalize;font-size:12px;font-family:'HelveticaBold';line-height:38px;padding-bottom:7px;z-index:99;position:relative;text-decoration:none;}
.sf-menu .sfHoverForce a,.sf-menu a:hover{color:#FFFFFF/*EE3C1F*/;}
.sf-menu li:hover a.sf-with-ul{background: url("../img/bg-menuhover.png") no-repeat scroll center bottom transparent;}
.sf-menu li ul{background:url(../img/bg-menu.png) 0 0 repeat-y;display:none;left:0;position:absolute;top:38px;width:216px;padding-bottom:15px;border:none;z-index:98;}
.sf-menu li:hover ul li a{background:none;}
.sf-menu li ul li{text-align:left;width:216px;margin:3px 0;padding:0}
.sf-menu li ul li:first-child{margin-top:10px;}
.sf-menu li ul li a{border:none;color:#7e7e7e;height:26px;line-height:26px;padding:0 0 0 24px;text-transform:capitalize;font-size:12px;font-weight:700;font-family:Arial;}
.sf-menu li ul li:hover a{color:#3b3b3b;}
.sf-menu li.sfHoverForce ul li a{color:#7e7e7e;}
.sf-menu li.sfHoverForce ul li:hover a{color:#3b3b3b;}


.sf-sub-indicator {position:	absolute;
	display:		none;
	right:			10px;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../img/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}


.sf-menu ul > li {
	width:			100%;min-height:15px;margin:3px 0 0;
}
.sf-menu li li{margin-top:0}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu a {
	display:		block;
	position:		relative;
	color:#fff;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			200px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			200px; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
/*** arrows **/
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:#1e1e1e;padding-top:5px;padding-bottom:10px;
}
.sf-shadow ul ul{padding-top:0;}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
li.sf-search {
  background: inherit;
  float: right;
  line-height: 25px;
}
li.sf-search input {
  -moz-border-radius: 0 5px 5px 0;
  padding: 3px 0;
  padding-left: 20px;
  margin-top: 4px;
  background: #fff url(../img/search.gif) no-repeat left center;
}
